---
import type { Experience } from "@entities/experience";
import { getFormattedDate } from "@utils/handleDates";

interface Props {
	experience: Experience;
}

const { experience } = Astro.props;
const { name, position, startDate, endDate, summary, highlights } = experience;

const currentLocale = Astro.currentLocale ?? "en";
const localeCode = currentLocale === "es" ? "es-ES" : "en-US";

const formattedStartDate = getFormattedDate(startDate, localeCode, {
	year: "numeric"
});
const formattedEndDate = getFormattedDate(
	endDate,
	localeCode,
	{ year: "numeric" },
	currentLocale === "es" ? "Presente" : "Present"
);
---

<article class="flex flex-col gap-3">
	<header class="flex justify-between gap-2">
		<div class="flex flex-col gap-0.5 text-neutral-800">
			<h3 class="text-lg font-bold">{name}</h3>
			<h4 class="text-base font-semibold">{position}</h4>
		</div>
		<div class="text-right text-sm font-normal text-neutral-500">
			<time datetime={startDate + ""}>{formattedStartDate}</time>
			<span>-</span>
			<time datetime={endDate + ""}>{formattedEndDate}</time>
		</div>
	</header>
	<main class="flex flex-col gap-3">
		<p class="text-sm">{summary}</p>
		<ul class="flex list-inside list-disc flex-col gap-2 pl-4">
			{highlights.map((highlight) => <li class="pl-4 -indent-5 text-sm">{highlight}</li>)}
		</ul>
	</main>
</article>
