---
import { certificates } from "@cv";
import Section from "@/components/Section.astro";
import CertificateCard from "@/components/CertificateCard.astro";

type Certificate = {
	date: string;
	name: string;
	issuer: string;
	url?: string;
};

const certificatesByYear = certificates.reduce(
	(acc, cert) => {
		const year = new Date(cert.date).getFullYear();
		(acc[year] = acc[year] || []).push(cert);
		return acc;
	},
	{} as Record<number, Certificate[]>
);

const sortedYears = Object.keys(certificatesByYear)
	.map(Number)
	.sort((a, b) => b - a);
---

<Section title="Certificados">
	<div class="flex flex-col gap-8 px-5">
		{
			sortedYears.map((year) => (
				<div class="flex flex-col gap-1">
					<span class="text-sm font-medium text-neutral-600 -translate-x-3.5">{year}</span>
					<ul class="flex flex-col gap-4 border-l border-neutral-200">
						{certificatesByYear[year].map(({ name, date, issuer, url }) => (
							<li>
								<CertificateCard name={name} date={date} issuer={issuer} url={url} />
							</li>
						))}
					</ul>
				</div>
			))
		}
	</div>
</Section>
