---
import { works } from "@cv";
import ExperienceCard from "@/components/ExperienceCard.astro";
import Section from "@/components/Section.astro";
---

<Section title="Experiencia laboral">
	{
		works.map(({ name, position, startDate, endDate, summary, highlights }) => (
			<ExperienceCard
				name={name}
				position={position}
				startDate={startDate}
				endDate={endDate}
				summary={summary}
				highlights={highlights}
			/>
		))
	}
</Section>
