---
import { projects } from "@cv";
import Section from "@/components/Section.astro";
import ProjectCard from "@/components/ProjectCard.astro";
---

<Section title="Proyectos">
	<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
		{
			projects.map(({ name, description, highlights, url, github }) => (
				<ProjectCard
					name={name}
					description={description}
					highlights={highlights}
					url={url}
					github={github}
				/>
			))
		}
	</div>
</Section>
