---
import type { Basics } from "@entities/basics.entity";
import "@styles/global.css";

interface Props {
	title: string;
	locale: string;
	basics: Basics;
}

const { title, locale, basics } = Astro.props;
const { summary, url, ogImage } = basics;
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={summary} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />

		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content={ogImage} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={summary} />
		<meta name="twitter:image" content={ogImage} />
	</head>
	<body class="font-nunito-sans bg-neutral-50 text-neutral-900">
		<div class="mx-auto flex w-full max-w-[var(--max-width)] flex-col gap-8 p-4 md:py-12">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html {
		scrollbar-width: thin;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		line-height: 1.25;
		text-wrap: balance;
	}

	p,
	li,
	span,
	time {
		line-height: 1.75;
		text-wrap: pretty;
	}
</style>
