---
import type { Basics } from "@entities/basics";
import "@styles/global.css";
import "@fontsource/nunito-sans/400.css";
import "@fontsource/nunito-sans/600.css";
import "@fontsource/nunito-sans/700.css";
import "@fontsource/nunito-sans/800.css";

interface Props {
	title: string;
	locale: string;
	basics: Basics;
}

const { title, locale, basics } = Astro.props;
const { summary, ogImage } = basics;
const url = Astro.url;
const hostname = url.hostname;
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/webp" href="/favicon.webp" />

		<meta name="description" content={summary} />

		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content={ogImage} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={hostname} />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={summary} />
		<meta name="twitter:image" content={ogImage} />
	</head>
	<body class="font-nunito-sans bg-neutral-50 text-neutral-700">
		<div class="mx-auto flex min-h-dvh w-full max-w-(--max-width) flex-col gap-8 p-4 md:py-12">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html {
		scrollbar-width: thin;
	}
</style>
